<h3> Account and Positions </h3><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbols/quotes/recent    </li>
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbols/quotes/recent?after=2018-02-12 13:31:00    </li>
</ul>

<b> Respond Example </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>


<b> Getting Account info </b><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span>/api/market/:symbol/quotes/intraday  </li>
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbol/candles/intraday # 1 minute candles    </li>
    <li class="">  <span class="label label-info">GET</span> /api/market/:symbol/book    </li>
</ul>

<b> Account Info </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Account Positions </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Account Open Orders </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Account Trades </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<br/>
<br/>
<br/>


