<h3> Account and Positions </h3><hr/>
<ul >
    <li class="">  <span class="label label-info">GET</span> /api/accounts/list    </li>
    <li class="">  <span class="label label-info">GET</span> /api/accounts/:account/summary    </li>
    <li class="">  <span class="label label-info">GET</span> /api/accounts/:account/positions    </li>
    <li class="">  <span class="label label-info">GET</span> /api/accounts/:account/orders    </li>
    <li class="">  <span class="label label-info">GET</span> /api/accounts/:account/trades    </li>
</ul>

<b> Respond Example </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>



<b> Account Info </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Account Positions </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Account Open Orders </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<b> Account Trades </b><br/>
<pre>
    <%= render "/pages/jsons/tase-market.json" %>
</pre>

<br/>
<br/>
<br/>


