<section class="banner">
    <div class="each-slide third-slide" style="background-image:url(/assets/website/tase-banner.jpg);">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h4>Dalore Financial</h4>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">Dalore HTTP Bridge for TASE</h2>
        <br/>


        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="text-center" src="<%= "/assets/website/tase-logo.png" %>" width="300px" />
            </div>
        </div>
        <br/>

    </div>
</section>

<section class="features">
    <div class="container text-center">
        <div class="row">
            <h2 class="text-center">Dalore HTTP Bridge for TASE</h2>
            <div class="heading-line"><span></span></div>

            פתרון לפיתוח אפליקציות לשוק ההון בישראל. ממשק אחיד לכל תחנות המסחר של הבנקים בישראל (אפ.אמ.אר וסיברון) המאפשר פיתוח מהיר וקל בכל שפת תכנות מודרנית ומשלב נתוני שוק, פרטי חשבון , פוזיציות וקישור לנתוני בסיס ממערכת מאי"ה. כל זאת בעזרת API  אחיד ללא קשר לתוכנת המסחר של הבנק שלך.

        </div>
        <br/>  <br/>  <br/>
        <div class="row">

            <div class="col-md-4 col-xs-6  text-center">
                <div class="feature-big-ico"><img src="<%= "/assets/website/030-html-5.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3><a href="#crm">  RESTFUL API</a></h3>
                    <p class="text-left">
                        קישוריות פשוטה לבורסה בתל אביב דרך תחנת המסחר של הבנק  ללא צורך בידע ונסיון ב API הספציפי של כל ברוקר, ובמבנה אחיד של נתונים לכל הבנקים בישראל

                    </p>
                </div>
            </div>

            <div class="col-md-4 col-xs-6 text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/money.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#thebrokersdashboard">שיגור הוראות קניה ומכירה</a></h3>
                    <p class="text-left">
                        שיגור הוראות קניה ומכירה דרך API אחיד לכל תחנות הבנקים בישראל. ניהול הזמנות פתוחות וביצועים בזמן אמת.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-xs-6  text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/briefcase1.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#tradingmachine"> מצב חשבונות ופוזיציות</a></h3>
                    <p class="text-left">
                        קבלת עדכון מצב חשבון ופוזיציות בכל חשבון ובכל בנק ע"י קריאות API
                    </p>
                </div>
            </div>


        </div>

        <br/>
        <div class="row">

            <div class="col-md-4 col-xs-6  text-center">
                <div class="feature-big-ico"><img src="<%= "/assets/website/line-graph.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3><a href="#crm">  נתוני שוק בזמן אמת</a></h3>
                    <p class="text-left">
                        קבל את כל נתוני השוק (מניות , אג"חים, תעודות סל ועוד) מהבורסה בתל אביב בזמן אמת. חיתוך נתונים קל ופשוט דרך קריאות API מאפשר קבלת נתונים עבור מספר נכסים  במקביל
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6  text-center">
                <div class="feature-big-ico"><img src="<%= "/assets/website/text-lines-2.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3><a href="#crm">  חדשות ודוחות ממערכת מאי"ה</a></h3>
                    <p class="text-left">
                        חיבור למערכת מאיה לקבלת חדשות , נתוני בסיס ודוחות כספיים של חברות הנסחרות בבורסה בתל אביב
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6  text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/stats-1.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#tradingmachine"> חיבור לגליונות אקסל</a></h3>
                    <p class="text-left">
                        חיבור בזמן אמת של נתוני החשבונות ונתוני השוק הישר לתוך גליונות  האקסל שלך. הודות ל API הסטנדרטי שלנו. בעזרת ה וויזארד של אקסל וללא צורך בתוספים.

                    </p>
                </div>
            </div>
        </div>

</section>

<section class="company bg-gray" id="server">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                יתרונות השימוש
            </h2>
            <div class="heading-line"></div>
        </div>
        <div class="col-lg-6">
            <h3>כיצד זה עובד?</h3>
            <p>
                שרת ה HTTP מתבר לתוכנת TWS אחת או יותר  וחושף קריאות  REST עבור כל הפקודות הקיימות במערכת המסחר 
                התוצאה היא חיבור מהיר ופשוט לפערכות מודרניות התומכות בפרוטוקל HTTP 
                בנוסף ניתן להתחבר לשרת דרך גליונות אקסל
            </p>
            
            <img src="<%= "/assets/website/http-bridge-fmr.svg" %>" width="500px;" />
        </div>
        <div class="col-lg-6">
            <ul class="no-padding">
                <li data-aos="fade-right" class="">
                    <div class="service-content">
                        <h3>חיבור למערכת מסחר ו CRM</h3>
                        <p class="">
                        פרוטוקול סטנדרטי ומודרני הנתמך על ידי כל מערכות הCRM בשוק
                        מאפשר לך להחבר את נתוני החשבון למערכות קיימות בקלות יחסית
                        </p>
                    </div>
                </li>
                <li data-aos="fade-right" class="">
                    <div class="service-content">
                        <h3>חיבור לאקסלים במשרד</h3>
                        <p class="">
                            חיבור נתוני חשבון ונתוני שוק ישירות לכל הגליונות אקסל במשרד
                        </p>
                    </div>
                </li>
                <li data-aos="fade-right" class="">
                    <div class="service-content">
                        <h3>אין צורך בידע ב C++ JAVA או  .NET</h3>
                        <p class="">
                            פרוטוקול HTTP REST מאפשר חיבור לכל שפת תכנות בצורה קלה ומהירה
                        </p>
                    </div>
                </li>
                <li data-aos="fade-right" class="">
                    <div class="service-content">
                        <h3>חיבור למספר תוכנות במקביל</h3>
                        <p class="">
                            שימוש בפרוטוקול HTTP מאפשר למספר מערכות להתחבר במקביל
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="company bg-white" id="marketdata">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                נתוני שוק
            </h2>
            <div class="heading-line"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 text-left " >
                <ul class="no-padding">
                    <li data-aos="fade-right" class="">
                        <div class="service-content">
                            <h3>ריכוז הודעות מהבורסה וממאיה</h3>
                            <p class="">
                                חיבור בזמן אמת למערכת מאיה כולל  תשקיפים ודוחו"ת כספיים
                                חיבור דומה לבורסאות בארופה אסיה ואמריקה
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-content">
                            <h3>שיגור הוראות לתוכנת המסחר</h3>
                            <p class="">
                                שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                שליחת הוראות מורכבות לכל בנק.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>

            <div class="col-md-9 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left text-english text-small">

                    <br/><b> Getting Market data </b>
                    <ul >
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/stocks/register?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/options/register?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/bonds/register?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/unregister?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/quotes?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/candles/daily?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/candles/minutes?symbols=AA,QQQ,BMW    </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="company bg-gray" id="accountinfo">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                פרטי חשבון ופוזיציות
            </h2>
            <div class="heading-line"></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-xs-12 text-left " >
                <ul class="no-padding">
                    <li data-aos="fade-right" class="">
                        <div class="service-content">
                            <h3>ריכוז הודעות מהבורסה וממאיה</h3>
                            <p class="">
                                חיבור בזמן אמת למערכת מאיה כולל  תשקיפים ודוחו"ת כספיים
                                חיבור דומה לבורסאות בארופה אסיה ואמריקה
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-content">
                            <h3>שיגור הוראות לתוכנת המסחר</h3>
                            <p class="">
                                שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                שליחת הוראות מורכבות לכל בנק.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>

            <div class="col-md-9 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left text-english text-small">


                    <br/><b> Account and Positions </b>
                    <ul>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/account/list      </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/info    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/positions    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/orders    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account/trades    </li>
                    </ul>



                    <br/><b> Orders </b>
                    <ul>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/buy/:symbol?&qty=4&limit=983.21      </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/sell/:symbol?&qty=4&limit=983.21    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/buy/:symbol?&qty=4&limit=983.21    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/bracket/buy/:symbol?&qty=4&limit=983.21    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/account/:account-id/bracket/sell/:symbol?&qty=4&limit=983.21    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account-id/order/:order-id/status    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account-id/order/:order-id/update?qty=34&limit=873.3    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/accounts/:account-id/order/:order-id/cancel    </li>
                    </ul>
                </div>
            </div>

        </div>
</section>

<section class="company bg-white" id="server">
    <div class="container">
        <div class="row">
            <h2 class="text-center">
                נתונים בסיסיים - קישור למערכת מאיה
            </h2>
            <div class="heading-line"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12 text-left " >
                <ul class="no-padding">
                    <li data-aos="fade-right" class="">
                        <div class="service-content">
                            <h3>מצב כל החשבונות בזמן אמת</h3>
                            <p class="">אין צורך לקפץ ממחשב למחשב לביצוע הוראות. שלוט על כל תחנות המסחר שלך ממקום אחד</p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-content">
                            <h3>ביצוע פוזיציות בין חשבונות</h3>
                            <p class="">
                                מערכת המסחר מאפשרת לך להגדיר חשבון על הכולל מספר חשבונות מבנקים שונים ולהתייחס אליהם כחשבון בודד.
                                ולנהל פוזיציות בין החשבונות
                            </p>
                        </div>
                    </li>

                </ul>

            </div>

            <div class="col-md-9 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left text-english text-small">

                    <br/><b> Getting Fundamental data </b>
                    <ul >
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/stocks/register?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/options/register?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/bonds/register?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/unregister?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/quotes?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/candles/daily?symbols=AA,QQQ,BMW    </li>
                        <li class="text-small">  <span class="label label-info">GET</span> /api/market/candles/minutes?symbols=AA,QQQ,BMW    </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="plans" id="plans">
    <h2 class="text-center">גרסאות</h2>
    <div class="heading-line"><span></span></div>
    <p class="text-center">Choose your offer and enjoy the quality.</p>
    <div class="container container-fw">
        <div class="row">
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">TASE-SIVRON</h3>
                    <div class="bestseller">בנק דיסקונט</div>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">$199.99</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור לתוכנת סיברון</li>
                        <li>נתוני שוק</li>
                        <li>נתוני חשבון ופוזיציות</li>
                        <li>שיגור הוראות</li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="plan-column">
                    <div class="bestseller">בנק לאומי בנק הפועלים</div>
                    <h3 class="text-center">TASE-FMR</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">$699.99</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור לתוכנת FMR </li>
                        <li>נתוני שוק</li>
                        <li>נתוני חשבון ופוזיציות</li>
                        <li>שיגור הוראות</li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">Dalore Back Office</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">Call for details</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור למספר בנקים במקביל</li>
                        <li>נתוני שוק</li>
                        <li>נתוני חשבון ופוזיציות</li>
                        <li>שיגור הוראות</li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="newsletter" id='contactus'>
    <h2 class="text-center">השאר פרטים לקבלת מידע</h2>
    <div class="heading-line"><span></span></div>
    <div class="container">
        <div class="row text-center">
            <form action="/pages/inquiry" method="post">
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <span class="icon-for-contact"><i class="fa fa-user "></i></span> 
                        <input type="name"  name="name" placeholder="Name" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-envelope "></i></span> 
                        <input type="email"   name="email" placeholder="Enter email" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-phone "></i></span> 
                        <input type="phone"  name="phone" placeholder="Phone" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                    </div>
                    <div class="col-lg-6 text-left" >
                        <textarea type="message"   name="message" width=100% rows=2 cols=40 class="message" data-aos="fade"/></textarea><br/>

                    </div>
                    <button class="btn btn-blue btn-lightblue aos-init text-center" data-aos="fade" data-aos-delay="300">שלח</button>
            </form>
        </div>
    </div>
</section>
<style>
    .text-english {
        direction:ltr;
        text-align: left;
    }
    li.text-small{
        font-size:8px;
    }
    .text-white{
        color:#fff;
    }
</style>