
<section class="banner">
    <div class="each-slide third-slide" style="background-image:url(/assets/website/archive-banner.jpg);">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h4>Dalore Financial</h4>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">Dalore Back Office</h2>
        <br/>
        <br/>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <h2 class="text-center"> Dalore Back Office</h2>
            <div class="heading-line"><span></span></div>

            <div class="text-center">

                שרת המסחר המרכז את כל נתוני השוק וחשבונות בזמן אמת. שימוש ב API מאפשר לך להזרים מידע ישירות לגליון האקסל שלך או לבנות אפליקציה יעודית לצרכים שלך


            </div>

            <br/>  <br/>  <br/>
            <div class="row">
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/101-hierarchical-structure.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#thebrokersdashboard">חיבור למספר ברוקרים במקביל</a></h3>
                        <p class="text-left">
                            גרסת הTEAM שלנו מאפשרת לחבר מספר תחנות מסחר של TWS במקביל ולרכז את כל המידע ממקום אחד ולהגדיל את כמות הנתונים בזמן אמת
                        </p>
                    </div>
                </div>


                <div class="col-md-3 col-xs-6  text-center">
                    <div class="feature-big-ico"><img src="<%= "/assets/website/030-html-5.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3><a href="#crm"> API לפיתוח וחיבור לגליונות אקסל</a></h3>
                        <p class="text-left">
                            קישוריות פשוטה לבורסות בעולם דרך תחנת המסחר TWS ללא צורך בידע ונסיון ב API הספציפי של כל ברוקר, ובמבנה אחיד של נתונים מותאם לאפליקציות וגליונות אקסל
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6  text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/stats-1.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#tradingmachine"> נתוני שוק וחשבונות</a></h3>
                        <p class="text-left">
                            חיבור בזמן אמת של נתוני החשבונות ונתוני השוק הישר לתוך גליונות  האקסל שלך. הודות ל API הסטנדרטי שלנו. בעזרת ה וויזארד של אקסל וללא צורך בתוספים.
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6  text-center">
                    <div class="feature-big-ico "><img src="<%= "/assets/website/stats-1.svg" %>" width="100px"/> </div>
                    <div class="feature-content">
                        <h3> <a href="#tradingmachine"> שיגור הוראות לתוכנת המסחר </a></h3>
                        <p class="text-left">
                            חיבור בזמן אמת של נתוני החשבונות ונתוני השוק הישר לתוך גליונות  האקסל שלך. הודות ל API הסטנדרטי שלנו. בעזרת ה וויזארד של אקסל וללא צורך בתוספים.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</section>




<section class="company bg-gray" id="server">
    <div class="container">

        <div class="row">
            <div class="feature-big-ico text-center"><img src="<%= "/assets/website/server.svg" %>" width="100px"/> </div>

            <h2 class="text-center">
                שרת המסחר
            </h2>
            <div class="heading-line"></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left">
                    <strong>ניהול מסחר של כל החשבונות ממקום אחד</strong>
                    <br/>
                    <p>
                        מי שנכנס לחדר של סוחר מקצועי נדהם לראות את כמות המחשבים על השולחן. מערכות מסחר מגיעות מהבנק ולכן אם ישנם מספר בנקים אתם עובד הסוחר הוא יעבוד מול מספר מערכות בנפרד. בנוסף ספקי המידע גם הם מגיעים במחשב נפרד. 
                        <br/>
                        <br/>

                        מערכות המסחר שלנו מותאמות לצרכי הלקוח. מאפשרת  ללקוחת להכניס את הלוגיקה של המסחר שלהם לתוך המערכת. לקבוע איזה סוג פקודות לשלוח, לבנות חשבונות מסטר לאיחוד תיקים וכו.

                        הפיתוח נעשה לפלטפורמת WEB המתאימה לשרות כל המשתמשים במשרד על מחשבים, טבלטים וטלפונים
                    </p>

                    <br/>
                    <strong>נתונים חיים לגליונות אקסל</strong>
                    <br/>
                    <p>
                        אקסל הוא אחד הכלים הנחוצים ביותר לסוחר. לכל סוחר יש את האקסל בו הוא מנהל את מסחר שלו  ועכשיו אפשר לחבר את האקסל לנתוני המסחר והחשבונות 
                        <br/>
                        <br/>
                        שרת המסחר שלנו מאפשר חיבור ללא צורך בפלגאין לקבלת נתונים חיים אודות השוק, הפוזיציות שלך ויתרות החשבון

                    </p>

                </div>


                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/backoffice%20-%20system%20diagram.png" class="xximg-responsive img-centered inner-image" style="background-color:#fff;padding:1em;" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/supported-plaforms.png" class="xximg-responsive img-centered inner-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-screen.png" class="outer-image" alt="" />
                            </div>
                        </div>



                    </div>
                </div>


                <br/>
                <p>

                </p>
            </div>

            <div class="col-md-6 col-xs-12">
                <ul class="no-padding">
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-clock-o"></i></div>
                        <div class="service-content">
                            <h3>מצב כל החשבונות בזמן אמת</h3>
                            <p class="">אין צורך לקפץ ממחשב למחשב לביצוע הוראות. שלוט על כל תחנות המסחר שלך ממקום אחד</p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-random"></i></div>
                        <div class="service-content">
                            <h3>ביצוע פוזיציות בין חשבונות</h3>
                            <p class="">
                                מערכת המסחר מאפשרת לך להגדיר חשבון על הכולל מספר חשבונות מבנקים שונים ולהתייחס אליהם כחשבון בודד.
                                ולנהל פוזיציות בין החשבונות
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-file-excel-o"></i></div>
                        <div class="service-content">
                            <h3>קישור לגליונות אקסל</h3>
                            <p class="">
                                חיבור לגליונות אקסל לקבלת נתוני שוק , מצב חשבון ופוציזיות
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-rss"></i></div>
                        <div class="service-content">
                            <h3>ריכוז הודעות מהבורסה וממאיה</h3>
                            <p class="">
                                חיבור בזמן אמת למערכת מאיה כולל  תשקיפים ודוחו"ת כספיים
                                חיבור דומה לבורסאות בארופה אסיה ואמריקה
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-money"></i></div>
                        <div class="service-content">
                            <h3>שיגור הוראות לתוכנת המסחר</h3>
                            <p class="">
                                שיגור הוראות לחשבון המסחר המתאים באופן אוטומטי. 
                                שליחת הוראות מורכבות לכל בנק.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div style="padding:2em;">
                            <h3>מערכות מסחר נתמכות</h3>
                            <br/>
                            <ul class="text-left no-padding">
                                <li><i class="fa fa-check-square-o"></i> FRM TASKBAR </li>
                                <li><i class="fa fa-check-square-o"></i> SIVRON AGENT</li>
                                <li><i class="fa fa-check-square-o"></i> INTERACTIVE BROKERS</li>
                                <li><i class="fa fa-check-square-o"></i> LIQUI </li>
                            </ul>
                        </div>
                    </li>
                </ul>





            </div>

        </div>

    </div>
</section>


<section class="company bg-white" id="thebrokersdashboard">
    <div class="container">
        <div class="row">
            <br/>
            <h2 class="text-center">דשבורד למנהלים</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 no-padding text-center  " data-aos="fade-right">
                <div class="text-left">
                    <strong>התמונה המלאה בזמן אמת</strong>
                    <br><br>
                    <p>
                        המשרד האחורי מחובר בזמן אמת לכל תחנות הסוחרים כך שבכל רגע נתון ניתן לקבל תמונה עדכנית של כל החשבונות ממקום אחד.
                    </p>
                </div>


                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="outer">
                                <img src="/assets/website/mobile01.PNG" class="img-responsive img-centered inner-mobile-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-mobile.png" class="outer-mobile-image" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/mobile02.PNG" class="img-responsive img-centered inner-mobile-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-mobile.png" class="outer-mobile-image" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="outer">
                                <img src="/assets/website/mobile03.PNG" class="img-responsive img-centered inner-mobile-image" alt="">
                                <img src="https://s3-us-west-2.amazonaws.com/thebuildmachine/background_images/empty-mobile.png" class="outer-mobile-image" alt="">
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-6 col-xs-12">


                <ul class="no-padding">

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-heartbeat"></i></div>
                        <div class="service-content">
                            <h3>מעקב אחר כל שינוי בכל חשבון</h3>
                            <p class="">חיבור לכל תחנות המסחר לקבלת תמונה שלמה ועדכנית על מצב החשבונות ושינויים בתיקים או בשוק</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-users"></i></div>
                        <div class="service-content">
                            <h3>פעילות יומית של כל הסוחרים</h3>
                            <p class="">מעקב אחר כל ההוראות שנשלחו במהלך יום המסמחר</p>
                        </div>
                    </li>

                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-briefcase  "></i></div>
                        <div class="service-content">
                            <h3>מעקב חשבונות</h3>
                            <p class="">
                                מעקב אחר מצב חשבונות, פוזיציות ועסקאות בזמן אמת
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-ticket  "></i></div>
                        <div class="service-content">
                            <h3 class="">שרות לקוחות</h3>
                            <p class="">
                                סיכום פעילות חדר מסחר ושרות לקוחות כולל כרטיסי שרות ושיחות טלפון והודאות דואר אלקטרוני
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-right" class="">
                        <div class="service-ico"><i class="fa fa-user-plus  "></i></div>
                        <div class="service-content">
                            <h3 class="">לידים ומכירות</h3>
                            <p class="">
                                ריכוז פעילות מכירות כולל לידים מקמפיינים, אתר האינטרנט ורשתות חברתיות
                            </p>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>



<section class="plans" id="plans">
    <h2 class="text-center">גרסאות</h2>
    <div class="heading-line"><span></span></div>
    <p class="text-center">בחר את הגרסה המתאימה לך</p>
    <div class="container container-fw">
        <div class="row">
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">Dalore IB HTTP Bridge Solo</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">$199.99</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור לתחנה אחת</li>
                        <li>נתוני שוק</li>
                        <li>נתונים פנדמנלטלים</li>
                        <li>שיגור הוראות</li>
                        <li>הסטוריה</li>
                        <li>נרות בזמן אמת </li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="plan-column">
                    <div class="bestseller">BESTSELLER!</div>
                    <h3 class="text-center">Team Edition</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">$699.99</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>חיבור ל 4 תחנות מסחר במקביל</li>
                        <li>נתוני שוק</li>
                        <li>נתונים פנדמנלטלים</li>
                        <li>שיגור הוראות</li>
                        <li>הסטוריה</li>
                        <li>נרות בזמן אמת </li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="plan-column">
                    <h3 class="text-center">Dalore Back Office</h3>
                    <div class="plan-line"><span></span></div>
                    <strong class="plan-price text-center">Call for details</strong>
                    <div class="plan-line"><span></span></div>
                    <ul class="no-padding">
                        <li>100GB Disc Space</li>
                        <li>Unlimited Monthly Transfer</li>
                        <li>Unlimited Databases</li>
                        <li>Unlimited E-Mails</li>
                        <li>Unlimited Subdomains</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="plan-btn">Order now</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="newsletter" id='contactus'>
    <h2 class="text-center">השאר פרטים לקבלת מידע</h2>
    <div class="heading-line"><span></span></div>
    <div class="container">
        <div class="row text-center">
            <form action="/pages/inquiry" method="post">
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <span class="icon-for-contact"><i class="fa fa-user "></i></span> 
                        <input type="name"  name="name" placeholder="Name" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-envelope "></i></span> 
                        <input type="email"   name="email" placeholder="Enter email" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-phone "></i></span> 
                        <input type="phone"  name="phone" placeholder="Phone" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                    </div>
                    <div class="col-lg-6 text-left" >
                        <textarea type="message"   name="message" width=100% rows=2 cols=40 class="message" data-aos="fade"/></textarea><br/>

                    </div>
                    <button class="btn btn-blue btn-lightblue aos-init text-center" data-aos="fade" data-aos-delay="300">שלח</button>
            </form>
        </div>
    </div>
</section>

<style>
    .text-english {
        direction:ltr;
        text-align: left;
    }
    li.text-small{
        font-size:8px;
    }
    .text-white{
        color:#fff;
    }
</style>