
<section class="banner">
    <div class="each-slide third-slide" style="background-image:url(/assets/website/walstreet-banner.jpg);height:580px;">
        <div class="center-container animated fadeInDown" data-animation="fadeInDown">
            <h2> Dalore Financial</h2>
        </div>
        <h2 class="text-center animated fadeInDown" data-animation="fadeInDown">Software Solutions for Interactive Brokers </h2>
        <br/>
        <br/>
        <br/>
        <div class="container animated fadeInUp" data-animation="fadeInUp">
            <div class="row">
                <div class="col-xs-3 text-center"><i class="fa fa-html5"></i> <p> Restful HTTP API for Trading with Interactive Brokers</p></div>
                <div class="col-xs-3 text-center"><i class="fa fa-star-o"></i> <p> CRM and Risk Management Solutions</p></div>
                <div class="col-xs-3 text-center"><i class="fa fa-bank"></i> <p>Algo Trading and Backtests IDE</p></div>
                <div class="col-xs-3 text-center"><i class="fa fa-code"></i> <p>Proffesional Development Services</p></div>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Products and Services</h2>
            <div class="heading-line"><span></span></div>
        </div>
        <br/>  <br/>  <br/>
        <div class="row">
            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/server.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#server">IBTTP HTTP Bridge    </a></h3>
                    <p class="text-left">
                        A simple yet powerfull HTTP bridge that expose HTTP API for varaiety of web applications and Excell sheets 
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6  text-center">
                <div class="feature-big-ico"><img src="<%= "/assets/website/019-handshake.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3><a href="#crm">  The Brokers CRM</a></h3>
                    <p class="text-left">
                        Turn leads into trading customers quickly through tried-and-true processes
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/competitors-scan.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#thebrokersdashboard">Risk Management </a></h3>
                    <p class="text-left">
                        Online professional alaysis tools for investigate and understand your portfolio
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6  text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/stats2.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#tradingmachine"> Trading Robots IDE</a></h3>
                    <p class="text-left">
                        Develop and test strategies on the cloud, without downloading data or compiling code  
                    </p>
                </div>
            </div>

        </div>

    <br/>

        <div class="row">
            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/money.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#server">Custom Trading Applications  </a></h3>
                    <p class="text-left">
                        A simple yet powerfull HTTP bridge that expose HTTP API for varaiety of web applications and Excell sheets 
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6  text-center">
                <div class="feature-big-ico"><img src="<%= "/assets/website/briefcase1.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3><a href="#crm">  The HedgeFund CRM</a></h3>
                    <p class="text-left">
                        Turn leads into trading customers quickly through tried-and-true processes
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/101-analytics-1.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#thebrokersdashboard">Custom Scanners </a></h3>
                    <p class="text-left">
                        Online professional alaysis tools for investigate and understand your portfolio
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6  text-center">
                <div class="feature-big-ico "><img src="<%= "/assets/website/101-archives.svg" %>" width="100px"/> </div>
                <div class="feature-content">
                    <h3> <a href="#tradingmachine"> The Archiver </a></h3>
                    <p class="text-left">
                        Store Market and Account data in a SQL Database for data mining
                    </p>
                </div>
            </div>

        </div>
        <br/><br/>
        <div class="row">
            <div class="legal-stuff" >
                <p class="text-small text-center" style="font-size:10px; text-align:center;">
                    Interactive Brokers does not endorse or recommend any introducing brokers, third-party financial advisors or hedge funds. 
                    Interactive Brokers provides execution and clearing services to customers. None of the information contained on this website constitutes a recommendation, 
                    offer, or solicitation of an offer by Interactive Brokers to buy, sell or hold any security, financial product or instrument or to engage in any specific
                    investment strategy. Interactive Brokers makes no representation, and assumes no liability to the accuracy or completeness of the information provided on this website. 
                    Dalore Financial is not affiliated with Interactive Brokers nor endorsed by Interactive Brokers.

                </p>
            </div>
        </div>


    </div>
</section>



<%= render :partial => "pages/crm_eng" %>
<%= render :partial => "pages/trading_machine_eng" %>
<%= render :partial => "pages/trader_eng" %>
<%= render :partial => "pages/custom_scanners_eng" %>
<%= render :partial => "pages/archiver_eng" %>
<%= render :partial => "pages/ibttp_eng" %>














<!-- Clients Aside -->
<section class="clients bg-white-white" id="clients">

    <div class="container ">

        <div class="row">
            <h1 class="text-center">Our Customers</h1>
            <div class="heading-line"><span></span></div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <a href="http://www.inter-il.com">
                    <img src="/assets/website/inter-il-logo.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.quantum-inv.co.il">
                    <img src="/assets/website/dbm-logo.jpeg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="http://www.inter-il.com">
                    <img src="/assets/website/betrader-logo.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.mexem.com">
                    <%= image_tag "/assets/website/mexem_logo.png" , :size => "500x70" %>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="newsletter" id='contactus'>
    <h2 class="text-center">השאר פרטים לקבלת מידע</h2>
    <div class="heading-line"><span></span></div>
    <div class="container">
        <div class="row text-center">
            <form action="/pages/inquiry" method="post">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <span class="icon-for-contact"><i class="fa fa-user "></i></span> 
                        <input type="name"  name="name" placeholder="Name" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-envelope "></i></span> 
                        <input type="email"   name="email" placeholder="Enter email" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                        <span class="icon-for-contact"><i class="fa fa-phone "></i></span> 
                        <input type="phone"  name="phone" placeholder="Phone" class="form-control newsletter-email aos-init" data-aos="fade"><br/>
                    </div>
                    <div class="col-lg-6 text-left" >
                        <textarea type="message"   name="message" width=100% rows=2 cols=40 class="message" data-aos="fade"/></textarea><br/>

                    </div>
                    <button class="btn btn-blue btn-lightblue aos-init text-center" data-aos="fade" data-aos-delay="300">שלח</button>
            </form>
        </div>
    </div>

</section>

<section id="legal">

</section>
